/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.automated-test-logs
/.phpunit.cache

# Laravel-specific
/bootstrap/cache/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Database
/database/*.sqlite
/database/*.sqlite-journal

# Vite
/dist
/dist-ssr

# OS
.DS_Store
